<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF9D775B1D22E3FC00554FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9D776F1D22E3FC00554FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9D777A1D22E3FC00554FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
